.contenedorPrincipal {
    max-width: 400px;
    height: 300px;
    max-height: 300px;
    @apply overflow-hidden relative border border-borde mx-auto w-full;
}

.mainDetails {
    height: 300px;
    @apply flex flex-col items-center justify-between p-5;
}
.entidad {
    @apply font-tungsten  text-4xl text-center;
}
.contenedorModal {
    max-width: 400px;
    height: 300px;
    left: 0;
    bottom: 0;
    transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    background: rgba(255, 70, 85, 0.9);
    @apply absolute w-full p-5 flex flex-col justify-between;
}
.contenedorModal p {
    @apply pointer-events-none;
}
.entidadModal {
    @apply font-tungsten text-white text-4xl text-center;
}

.details {
    @apply pb-10;
}
.details p {
    @apply text-white font-din1 flex justify-between pr-10;
}
@screen lg {
    .contenedorModal {
        left: -121%;
        transform: skew(-20deg);
    }
    .contenedorPrincipal:hover .contenedorModal {
        left: 0;
        transform: skew(0deg);
    }
}
