.contenedor {
    @apply my-5;
}
.contenedor::after {
    content: '';
    z-index: -1;
    @apply w-full h-3 border-t-4 border-borde absolute top-1/2 pointer-events-none;
}
.contentSlide {
    @apply flex justify-center items-center p-5 border-black border-2 bg-carton z-10 cursor-pointer transition-all ease-linear duration-100;
}
.contentSlide:hover {
    @apply text-white bg-rojo border-rojo;
}
.contentSelect {
    @apply p-5 flex justify-center items-center text-white bg-rojo border-2 border-rojo z-10 cursor-pointer transition-all ease-linear duration-100;
}
.habilidad {
    @apply flex flex-col items-center justify-between;
}
.details {
    max-width: 730px;
    @apply flex flex-col-reverse items-center gap-y-5 pb-10;
}
.description > p:first-child {
    @apply text-2xl font-din4;
}
.description > p:last-child {
    @apply text-gristransp font-medium font-din1;
}
.level {
    @apply h-full flex flex-col items-center;
}
.level > p:first-child {
    @apply text-2xl font-din4 uppercase text-center;
}
.skills > span,
.redDiamond {
    @apply text-3xl px-1;
}
.skills > span {
    @apply text-gristransp;
}
.redDiamond {
    @apply text-rojo !important;
}
.is-active {
    @apply contentSelect;
}
@screen md {
    .details {
        @apply grid grid-cols-2 gap-y-0 gap-x-10;
    }
}
@screen lg {
    .details {
        @apply pt-10;
    }
    .description {
        @apply pl-10;
    }
}
